{{extend 'layout.html'}}
{{block header}}
{{end}}

<link href="/Final_Project/static/css/custom.css" rel="stylesheet" type="text/css">
<link href="/Final_Project/static/css/stupid.css" rel="stylesheet" type="text/css">


<p>
    <a href="{{=URL('default', 'addrecommend')}}" class="btn rounded add_cat_info">
        <i class="fa fa-plus"></i> Add
    </a>
</p>

<div class="recommendation_page container" style="min-height: 800px">
    {{for r in recommend:}}
    <div class="recommendations half">
        <div class="recommendation">
            <img style="width:200px; height:200px;margin-left: 25px;" src="{{=URL('default','download', args=r['picture'])}}" />
            {{=r['describes']}}
        </div>
    </div>
    {{pass}}
</div>